In [3]:
from datetime import datetime
now=datetime.now()
now

datetime.datetime(2019, 5, 26, 18, 38, 56, 771854)

In [4]:
now.year,now.month,now.day

(2019, 5, 26)

In [5]:
delta=datetime(2011,11,7)-datetime(2008,6,14,8,15)
delta

datetime.timedelta(1240, 56700)

In [6]:
delta.days

1240

In [7]:
delta.seconds

56700

In [9]:
from datetime import timedelta
start=datetime(2011,1,7)
start+timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [10]:
start-2*timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

In [11]:
stamp=datetime(2011,1,3)
str(stamp)

'2011-01-03 00:00:00'

In [12]:
stamp.strftime("%Y-%m-%d")

'2011-01-03'

In [13]:
value="2011-11-03"
datetime.strptime(value,"%Y-%m-%d")

datetime.datetime(2011, 11, 3, 0, 0)

In [16]:
datestrs = ['7/6/2011', '8/6/2011']
[datetime.strptime(x,"%m/%d/%Y")for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [17]:
from dateutil.parser import parse
parse("2011-01-03")

datetime.datetime(2011, 1, 3, 0, 0)

In [18]:
parse("Jan 31,1997 10:45 PM")

datetime.datetime(2019, 1, 31, 22, 45)

In [20]:
parse("6/12/2011",dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [23]:
import pandas as pd
datestrs=["2011-07-06 12:00:00","2018-08-06 00:00:00"]
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2018-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [25]:
idx=pd.to_datetime(datestrs+[None])
idx

DatetimeIndex(['2011-07-06 12:00:00', '2018-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [26]:
idx[2]

NaT

In [27]:
pd.isnull(idx)

array([False, False,  True])

In [31]:
import numpy as np
dates=[datetime(2011,1,2),datetime(2011, 1, 5),datetime(2011, 1, 7), datetime(2011, 1, 8),datetime(2011, 1, 10), datetime(2011, 1, 12)]
ts=pd.Series(np.random.randn(6),index=dates)
ts

2011-01-02    0.445676
2011-01-05   -0.301363
2011-01-07    1.087689
2011-01-08    1.186139
2011-01-10    0.094741
2011-01-12    2.173798
dtype: float64

In [32]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [33]:
ts+ts[::2]

2011-01-02    0.891352
2011-01-05         NaN
2011-01-07    2.175378
2011-01-08         NaN
2011-01-10    0.189481
2011-01-12         NaN
dtype: float64

In [34]:
ts.index.dtype

dtype('<M8[ns]')

In [36]:
stamp=ts.index[0]
stamp

Timestamp('2011-01-02 00:00:00')

In [37]:
stamp=ts.index[2]
ts[stamp]

1.0876888088865766

In [38]:
ts["1/10/2011"]

0.09474055296989818

In [40]:
ts["20110110"]

0.09474055296989818

In [41]:
longer_ts=pd.Series(np.random.randn(1000),index=pd.date_range("1/1/2000",periods=1000))
longer_ts

2000-01-01    0.154901
2000-01-02   -0.595131
2000-01-03   -0.532974
2000-01-04   -1.576776
2000-01-05    0.956296
2000-01-06   -1.213958
2000-01-07    0.867849
2000-01-08   -1.070579
2000-01-09    0.250272
2000-01-10   -0.668623
2000-01-11   -0.300645
2000-01-12   -0.900889
2000-01-13    2.052654
2000-01-14   -1.267072
2000-01-15    0.115617
2000-01-16   -0.777953
2000-01-17   -0.701786
2000-01-18   -0.675326
2000-01-19   -0.035620
2000-01-20   -0.342855
2000-01-21    1.930314
2000-01-22   -1.367414
2000-01-23   -0.115179
2000-01-24   -0.138750
2000-01-25   -0.345959
2000-01-26   -0.088620
2000-01-27   -1.678674
2000-01-28    0.333202
2000-01-29    1.338029
2000-01-30   -0.565161
                ...
2002-08-28    1.803199
2002-08-29    1.067205
2002-08-30   -0.962184
2002-08-31   -0.271477
2002-09-01    0.714283
2002-09-02    0.877928
2002-09-03    1.788317
2002-09-04    1.376864
2002-09-05   -0.925642
2002-09-06    0.162434
2002-09-07   -0.212671
2002-09-08    0.770704
2002-09-09    0.537453
2002-09-10   -0.043032
2002-09-11   -0.094736
2002-09-12    1.586703
2002-09-13    2.184715
2002-09-14    1.022081
2002-09-15    1.668978
2002-09-16   -2.933855
2002-09-17    0.341972
2002-09-18   -0.975802
2002-09-19   -0.567969
2002-09-20    0.725803
2002-09-21   -2.457400
2002-09-22    2.059495
2002-09-23    0.569022
2002-09-24    0.401347
2002-09-25    0.572063
2002-09-26    0.192221
Freq: D, Length: 1000, dtype: float64

In [42]:
longer_ts["2001"]

2001-01-01   -0.660632
2001-01-02   -0.294137
2001-01-03    0.207832
2001-01-04   -0.676488
2001-01-05   -1.474922
2001-01-06    0.116292
2001-01-07   -0.146484
2001-01-08   -0.880867
2001-01-09    0.640467
2001-01-10   -0.496392
2001-01-11   -0.589150
2001-01-12   -0.479092
2001-01-13   -0.403869
2001-01-14    0.809503
2001-01-15    1.587392
2001-01-16    1.209969
2001-01-17   -1.251457
2001-01-18    0.045571
2001-01-19    0.474252
2001-01-20   -0.297944
2001-01-21    0.382963
2001-01-22   -0.023228
2001-01-23    0.765195
2001-01-24   -0.835957
2001-01-25   -0.663351
2001-01-26    0.044688
2001-01-27   -0.809434
2001-01-28   -1.141175
2001-01-29   -0.479286
2001-01-30   -1.864552
                ...
2001-12-02    0.765373
2001-12-03   -1.035566
2001-12-04    1.467956
2001-12-05   -0.182618
2001-12-06    1.568130
2001-12-07    1.395862
2001-12-08   -0.362983
2001-12-09    1.834640
2001-12-10   -1.272544
2001-12-11    0.555342
2001-12-12    0.055148
2001-12-13    0.491469
2001-12-14    0.772608
2001-12-15    0.709145
2001-12-16   -0.454393
2001-12-17    1.099618
2001-12-18    0.847074
2001-12-19    0.270788
2001-12-20   -1.263348
2001-12-21    1.819671
2001-12-22   -0.861733
2001-12-23   -0.619750
2001-12-24   -0.344970
2001-12-25   -0.614497
2001-12-26    1.345182
2001-12-27   -0.000329
2001-12-28    0.609351
2001-12-29    0.343822
2001-12-30    0.755156
2001-12-31   -0.139141
Freq: D, Length: 365, dtype: float64

In [43]:
longer_ts["2001-05"]

2001-05-01    1.830829
2001-05-02   -0.955127
2001-05-03   -0.530184
2001-05-04   -1.551111
2001-05-05   -1.610908
2001-05-06   -1.595240
2001-05-07    0.819499
2001-05-08   -0.884874
2001-05-09   -0.975200
2001-05-10   -0.099817
2001-05-11    2.254933
2001-05-12    1.354634
2001-05-13    0.011310
2001-05-14   -0.202757
2001-05-15    0.268859
2001-05-16    0.187367
2001-05-17    1.327003
2001-05-18    1.559499
2001-05-19    1.138822
2001-05-20   -1.420692
2001-05-21   -0.468904
2001-05-22    0.106911
2001-05-23    0.900839
2001-05-24   -1.286992
2001-05-25   -0.818653
2001-05-26   -1.416000
2001-05-27    0.134794
2001-05-28   -1.308636
2001-05-29    0.214397
2001-05-30    1.257227
2001-05-31    2.239331
Freq: D, dtype: float64

In [46]:
ts[datetime(2011,1,7):]

2011-01-07    1.087689
2011-01-08    1.186139
2011-01-10    0.094741
2011-01-12    2.173798
dtype: float64

In [47]:
ts["1/6/2011":"1/11/2011"]

2011-01-07    1.087689
2011-01-08    1.186139
2011-01-10    0.094741
dtype: float64

In [48]:
ts.truncate(after="1/9/2011")

2011-01-02    0.445676
2011-01-05   -0.301363
2011-01-07    1.087689
2011-01-08    1.186139
dtype: float64

In [49]:
dates=pd.date_range("1/1/2000",periods=100,freq="W-WED")
long_df=pd.DataFrame(np.random.randn(100,4),index=dates,columns=["Colorado","Texas","New York","Ohio"])
long_df.loc["5-2001"]

            Colorado     Texas  New York      Ohio
2001-05-02 -0.676465  0.432489 -0.357291 -1.193984
2001-05-09  1.175584 -2.635055  0.258381 -0.077728
2001-05-16  0.424652 -1.696627  1.969733  0.232440
2001-05-23 -0.698865  0.639853 -1.172764  0.309386
2001-05-30 -0.744726 -0.664229 -1.165776 -0.336953

In [51]:
dates=pd.DatetimeIndex(["1/1/2000","1/2/2000","1/2/2000","1/2/2000","1/3/2000"])
dup_ts=pd.Series(np.arange(5),index=dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [52]:
dup_ts.index.is_unique

False

In [53]:
dup_ts["1/3/2000"]

4

In [54]:
dup_ts["1/2/2000"]

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [55]:
grouped=dup_ts.groupby(level=0)
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

In [56]:
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int32

In [57]:
ts

2011-01-02    0.445676
2011-01-05   -0.301363
2011-01-07    1.087689
2011-01-08    1.186139
2011-01-10    0.094741
2011-01-12    2.173798
dtype: float64

In [58]:
index=pd.date_range("2012-04-01","2012-06-01")
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [59]:
pd.date_range(start="2012-04-01",periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [60]:
pd.date_range(end="2012-06-01",periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [61]:
pd.date_range("2000-01-01","2000-12-01",freq="BM")

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [62]:
pd.date_range("2012-05-02 12:56:31",periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [64]:
pd.date_range("2012-05-02 12:56:31",periods=5,normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

In [65]:
#11.3.2
from pandas.tseries.offsets import Hour,Minute
hour=Hour()
hour

In [66]:
four_hours=Hour(4)
four_hours

In [67]:
pd.date_range("2000-01-01","2000-01-03 23:59",freq="4h")

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [69]:
Hour(2)+Minute(30)

In [70]:
pd.date_range("2000-01-01",periods=10,freq="1h30min")

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [71]:
rng=pd.date_range("2012-01-01","2012-09-01",freq="WOM-3FRI")
list(rng)

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

In [72]:
ts=pd.Series(np.random.randn(4),index=pd.date_range("1/1/2000",periods=4,freq="M"))
ts

2000-01-31    0.017351
2000-02-29    0.359700
2000-03-31    0.954597
2000-04-30   -0.929953
Freq: M, dtype: float64

In [73]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31    0.017351
2000-04-30    0.359700
Freq: M, dtype: float64

In [74]:
ts.shift(-2)

2000-01-31    0.954597
2000-02-29   -0.929953
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [75]:
ts/ts.shift(1)-1

2000-01-31          NaN
2000-02-29    19.730683
2000-03-31     1.653868
2000-04-30    -1.974184
Freq: M, dtype: float64

In [76]:
ts.shift(2,freq="M")

2000-03-31    0.017351
2000-04-30    0.359700
2000-05-31    0.954597
2000-06-30   -0.929953
Freq: M, dtype: float64

In [77]:
ts.shift(3,freq="D")

2000-02-03    0.017351
2000-03-03    0.359700
2000-04-03    0.954597
2000-05-03   -0.929953
dtype: float64

In [78]:
ts.shift(1,freq="90T")

2000-01-31 01:30:00    0.017351
2000-02-29 01:30:00    0.359700
2000-03-31 01:30:00    0.954597
2000-04-30 01:30:00   -0.929953
Freq: M, dtype: float64

In [79]:
from pandas.tseries.offsets import Day,MonthEnd
now=datetime(2011,11,17)
now+3*Day()

Timestamp('2011-11-20 00:00:00')

In [80]:
now+MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [81]:
now+MonthEnd(2)

Timestamp('2011-12-31 00:00:00')

In [82]:
offset=MonthEnd()
offset.rollforward(now)

Timestamp('2011-11-30 00:00:00')

In [84]:
offset.rollback(now)

Timestamp('2011-10-31 00:00:00')

In [85]:
ts = pd.Series(np.random.randn(20),index=pd.date_range('1/15/2000', periods=20, freq='4d'))
ts

2000-01-15    2.062678
2000-01-19   -0.487179
2000-01-23   -0.866560
2000-01-27    0.694952
2000-01-31   -0.430438
2000-02-04    0.873412
2000-02-08   -0.455061
2000-02-12    0.401772
2000-02-16    0.387265
2000-02-20    0.124684
2000-02-24    0.180575
2000-02-28   -0.990923
2000-03-03   -0.326487
2000-03-07   -0.613048
2000-03-11    0.452143
2000-03-15    0.266618
2000-03-19   -0.016061
2000-03-23    0.220925
2000-03-27    1.502031
2000-03-31    1.488937
Freq: 4D, dtype: float64

In [86]:
ts.groupby(offset.rollforward).mean()

2000-01-31    0.194690
2000-02-29    0.074532
2000-03-31    0.371882
dtype: float64

In [87]:
ts.resample("M").mean()

2000-01-31    0.194690
2000-02-29    0.074532
2000-03-31    0.371882
Freq: M, dtype: float64

In [88]:
#11.4 处理时区
import pytz
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [90]:
tz=pytz.timezone("America/New_York")
tz

In [91]:
rng=pd.date_range("3/9/2012 9:30",periods=6,freq="D")
ts=pd.Series(np.random.randn(len(rng)),index=rng)
ts

2012-03-09 09:30:00   -0.191509
2012-03-10 09:30:00    0.701189
2012-03-11 09:30:00    0.911035
2012-03-12 09:30:00    0.184451
2012-03-13 09:30:00   -0.618681
2012-03-14 09:30:00   -0.877368
Freq: D, dtype: float64

In [92]:
print(ts.index.tz)

None

In [93]:
pd.date_range("3/9/2012 9:30",periods=10,freq="D",tz="UTC")

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00', '2012-03-16 09:30:00+00:00',
               '2012-03-17 09:30:00+00:00', '2012-03-18 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [94]:
ts

2012-03-09 09:30:00   -0.191509
2012-03-10 09:30:00    0.701189
2012-03-11 09:30:00    0.911035
2012-03-12 09:30:00    0.184451
2012-03-13 09:30:00   -0.618681
2012-03-14 09:30:00   -0.877368
Freq: D, dtype: float64

In [95]:
ts_utc=ts.tz_localize("UTC")
ts_utc

2012-03-09 09:30:00+00:00   -0.191509
2012-03-10 09:30:00+00:00    0.701189
2012-03-11 09:30:00+00:00    0.911035
2012-03-12 09:30:00+00:00    0.184451
2012-03-13 09:30:00+00:00   -0.618681
2012-03-14 09:30:00+00:00   -0.877368
Freq: D, dtype: float64

In [96]:
ts_utc.index

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [97]:
ts_utc.tz_convert("America/New_York")

2012-03-09 04:30:00-05:00   -0.191509
2012-03-10 04:30:00-05:00    0.701189
2012-03-11 05:30:00-04:00    0.911035
2012-03-12 05:30:00-04:00    0.184451
2012-03-13 05:30:00-04:00   -0.618681
2012-03-14 05:30:00-04:00   -0.877368
Freq: D, dtype: float64

In [99]:
ts_eastern=ts.tz_localize("America/New_York")
ts_eastern.tz_convert("UTC")

2012-03-09 14:30:00+00:00   -0.191509
2012-03-10 14:30:00+00:00    0.701189
2012-03-11 13:30:00+00:00    0.911035
2012-03-12 13:30:00+00:00    0.184451
2012-03-13 13:30:00+00:00   -0.618681
2012-03-14 13:30:00+00:00   -0.877368
Freq: D, dtype: float64

In [101]:
ts_eastern.tz_convert("Europe/Berlin")

2012-03-09 15:30:00+01:00   -0.191509
2012-03-10 15:30:00+01:00    0.701189
2012-03-11 14:30:00+01:00    0.911035
2012-03-12 14:30:00+01:00    0.184451
2012-03-13 14:30:00+01:00   -0.618681
2012-03-14 14:30:00+01:00   -0.877368
Freq: D, dtype: float64

In [102]:
ts.index.tz_localize("Asia/Shanghai")

DatetimeIndex(['2012-03-09 09:30:00+08:00', '2012-03-10 09:30:00+08:00',
               '2012-03-11 09:30:00+08:00', '2012-03-12 09:30:00+08:00',
               '2012-03-13 09:30:00+08:00', '2012-03-14 09:30:00+08:00'],
              dtype='datetime64[ns, Asia/Shanghai]', freq='D')

In [103]:
#11.4.2
stamp=pd.Timestamp("2011-03-12 04:00")
stamp_utc=stamp.tz_localize("utc")
stamp_utc.tz_convert("America/New_York")

Timestamp('2011-03-11 23:00:00-0500', tz='America/New_York')

In [104]:
stamp_moscow=pd.Timestamp("2011-03-12 04:00",tz="Europe/Moscow")
stamp_moscow

Timestamp('2011-03-12 04:00:00+0300', tz='Europe/Moscow')

In [105]:
stamp_utc.value

1299902400000000000

In [106]:
stamp_utc.tz_convert("America/New_York").value

1299902400000000000

In [108]:
from pandas.tseries.offsets import Hour
stamp=pd.Timestamp("2012-03-12 01:30",tz="US/Eastern")
stamp

Timestamp('2012-03-12 01:30:00-0400', tz='US/Eastern')

In [109]:
stamp+Hour()

Timestamp('2012-03-12 02:30:00-0400', tz='US/Eastern')

In [110]:
stamp=pd.Timestamp("2012-11-04 00:30",tz="US/Eastern")
stamp

Timestamp('2012-11-04 00:30:00-0400', tz='US/Eastern')

In [111]:
stamp+2*Hour()

Timestamp('2012-11-04 01:30:00-0500', tz='US/Eastern')

In [112]:
rng=pd.date_range('3/7/2012 9:30',periods=10,freq="B")
ts=pd.Series(np.random.randn(len(rng)),index=rng)
ts

2012-03-07 09:30:00   -0.620957
2012-03-08 09:30:00   -2.141598
2012-03-09 09:30:00   -0.582708
2012-03-12 09:30:00   -0.081174
2012-03-13 09:30:00    1.359964
2012-03-14 09:30:00   -1.185950
2012-03-15 09:30:00   -1.382897
2012-03-16 09:30:00    0.874715
2012-03-19 09:30:00    1.299454
2012-03-20 09:30:00   -0.077181
Freq: B, dtype: float64

In [115]:
ts1=ts[:7].tz_localize("Europe/London")
ts2=ts1[2:].tz_convert("Europe/Moscow")
ts1

2012-03-07 09:30:00+00:00   -0.620957
2012-03-08 09:30:00+00:00   -2.141598
2012-03-09 09:30:00+00:00   -0.582708
2012-03-12 09:30:00+00:00   -0.081174
2012-03-13 09:30:00+00:00    1.359964
2012-03-14 09:30:00+00:00   -1.185950
2012-03-15 09:30:00+00:00   -1.382897
Freq: B, dtype: float64

In [116]:
ts2

2012-03-09 13:30:00+04:00   -0.582708
2012-03-12 13:30:00+04:00   -0.081174
2012-03-13 13:30:00+04:00    1.359964
2012-03-14 13:30:00+04:00   -1.185950
2012-03-15 13:30:00+04:00   -1.382897
Freq: B, dtype: float64

In [118]:
result=ts1+ts2
result

2012-03-07 09:30:00+00:00         NaN
2012-03-08 09:30:00+00:00         NaN
2012-03-09 09:30:00+00:00   -1.165417
2012-03-12 09:30:00+00:00   -0.162349
2012-03-13 09:30:00+00:00    2.719928
2012-03-14 09:30:00+00:00   -2.371899
2012-03-15 09:30:00+00:00   -2.765795
Freq: B, dtype: float64

In [120]:
result.index

DatetimeIndex(['2012-03-07 09:30:00+00:00', '2012-03-08 09:30:00+00:00',
               '2012-03-09 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='B')

In [121]:
#11.5
p=pd.Period(2007,freq="A-DEC")
p

Period('2007', 'A-DEC')

In [122]:
p+5

Period('2012', 'A-DEC')

In [123]:
p-2

Period('2005', 'A-DEC')

In [124]:
pd.Period(2014,freq="A-DEC")-p

7

In [125]:
rng=pd.period_range("2000-01-01","2000-06-30",freq="M")
rng

PeriodIndex(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06'], dtype='period[M]', freq='M')

In [126]:
pd.Series(np.random.randn(6),index=rng)

2000-01    0.930978
2000-02    1.788812
2000-03    1.825243
2000-04   -1.287038
2000-05   -1.057573
2000-06    0.708160
Freq: M, dtype: float64

In [127]:
values=["2001Q3","2002Q2","2003Q1"]
index=pd.PeriodIndex(values,freq="Q-DEC")
index

PeriodIndex(['2001Q3', '2002Q2', '2003Q1'], dtype='period[Q-DEC]', freq='Q-DEC')

In [128]:
p=pd.Period("2007",freq="A-DEC")
p

Period('2007', 'A-DEC')

In [129]:
p.asfreq("M",how="start")

Period('2007-01', 'M')

In [130]:
p.asfreq("M",how="end")

Period('2007-12', 'M')

In [131]:
p=pd.Period("2007",freq="A-JUN")
p

Period('2007', 'A-JUN')

In [132]:
p.asfreq("M","start")

Period('2006-07', 'M')

In [133]:
p.asfreq("M","end")

Period('2007-06', 'M')

In [135]:
p=pd.Period("Aug-2007","M")

In [136]:
p.asfreq("A-JUN")

Period('2008', 'A-JUN')

In [ ]:
rng=